 /* below we have a grouped selector */
 p, ul  {
    color:darkslateblue;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:underline;
}
/* descendant selector */
p a {
    color: green;
}
#firstParagraph {
    color:dodgerblue;
}
.pinkText {
    color:pink;
}
a {
    text-decoration:none;
}