h1, h2, h3, nav {
    display: flex;
    justify-content:center;
}
h1 {
    font-family: "Brush Script MT";
    font-size:40px;
}
h2{
    font-size:20px;
}
h3 {
    font-size:15px;
}

nav {
    justify-content: space-around;
    background-color: #ffdde3;
    padding: 10px;
}
body {
    background-color: #f398a9;
}
@media (max-width: 850px) {
    nav {flex-direction: column;
         margin:10px;
        }
    
    span {display:none;}
}
@media (max-width: 850px) {
    div {flex-direction: column;
         margin:10px;}
    }
